.radius{
    border-radius: $radius;
}

.divider{
    border: 1px solid $secondary;
}

.group-box{
    margin-bottom: $side-margin;
    position: relative;
    @include flexbox(center, center);

    .icon{
        position: absolute;
        left: 15px;
        color: $secondary;
    }
}