.radius{
    border-radius: $radius;
}

.divider{
    border-bottom: 1px solid $secondary;
    padding: 0 $side-margin;
}

.group-box{
    margin-bottom: $side-margin;
    position: relative;
    @include flexbox(center, center);

    .icon{
        position: absolute;
        left: 15px;
        color: $secondary;

        .feather{
            width: 18px;
            height: 18px;
        }
    }
}

.font-weight-600{
    font-weight: 600;
}

table th{
    @extend .font-weight-600;
}

table td{
    vertical-align: middle !important;

    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}

.flex-center-end{
    @include flexbox(center, flex-end);
}