main{  // * #menus
    display: grid;
    grid-template-rows: 5% 7% 10% 78%;
    overflow-y: hidden;

    .header, .menu-categories, .group-box{
        margin: 0 $side-margin;
    }

    .menu{
        padding: 0 $side-margin;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}