// Body
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

$body-bg: #F3F3F3;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$radius: 20px;
$side-margin: 20px;
$active-shadow: 0px 0px 15px 5px rgba(92, 138, 255, 0.25);

$primary: #5C8AFF;
$secondary: #999999;
$placeholder: #DFDFDF;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);