// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'overwrite';

body{
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $body-bg;

    #app{
        display: grid;
        grid-template-columns: 8% 54% 38%;
        height: 100vh;
        overflow: hidden;
        
        .header{
            @include flexbox(center, space-between);
        }
        
        @import 'addons';
        @import 'sidebar';
        @import 'main';
        @import 'orders';
        @import 'modal';
    }
}